body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f1;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #aea24c !important;
}

@media (max-width: 600px) {
  h1,
  h2,
  h3 {
    font-size: 1.2rem;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  p {
    font-size: 14px;
  }
} /* CSS for the Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: rgb(240, 98, 88);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 80%;
}

.popup h2 {
  font-size: 2rem;
  color: #4caf50; /* Green for correct answer */
}

.popup h2.negative {
  color: red; /* Red for incorrect answer */
}

.popup h3 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #333;
}
